<!DOCTYPE html>
<html>
    <head>
         <meta charset="UTF-8">
         <title>TimetablePlanner</title>
    </head>
    <body>
          <p>A Meeting Planner for Django Practice</p>
          <h2>MEETING</h2>
          <ul>
              {% for meeting in meetings %}
              <li>
                  <a href="{% url 'detail' meeting.id %}">
                    {{meeting.Title}}
                  </a>
              </li>
              {% endfor %}
              <br/>
              <br/>
              <strong><a href="{% url 'roomdetail' %}">
                Room Details
              </a></strong>
          </ul>
    </body>
</html>    