{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
          <p>A Meeting Planner for Django Practice</p>
          <h2>MEETING</h2>
          <ul>
              {% for meeting in meetings %}
              <li>
                  <a href="{% url 'detail' meeting.id %}">
                    {{meeting.Title}}
                  </a>
              </li>
              {% endfor %}
              <br/>
              <br/>
              <strong><a href="{% url 'roomdetail' %}">
                Room Details
              </a></strong>
          </ul>
 {% endblock %}  